@font-face {
    font-family: IRANYekanMedium;
    src: url('../fonts/yekan/IRANYekanMedium.ttf');
}

@font-face {
    font-family: IRANYekanExtraBoldFaNum;
    src: url('../fonts/yekan/IRANYekanExtraBoldFaNum.ttf');
}

@font-face {
    font-family: IRANYekanLight;
    src: url('../fonts/yekan/IRANYekanLight.ttf');
}